/* Below are the page defaults and startscreen */
* {
  overflow:hidden; /* or auto */
  }

body {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}


/* Below are properties that are reused */
.hide {
  display: none;
}

.flex {
  display: flex;
}

.marginTop {
  margin-top: 100px;
}


/* Below is the opening menu */
.menu {
  width: 100%;
  height: 100%;
  background-color: gray;
}
header {
  text-align: center;
  font-size: 90px;
  text-shadow: 3px 3px black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
  background-color:lightgray;
  border: solid;
  border-width: 3px;
  border-color: darkgrey;
}


/* Below is the start button */
#startBtn {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: 100px;
    margin-left: -80px;
    font-size: 25px;
  }
  #startBtn:hover{
    color: darkgray;
    background-color:red;
  }
  @media screen and (max-width: 707px) {
  #startBtn {
    margin-top: 260px;
  }
}


/* Below is the high score button */
#highScoresBtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: 10px;
  margin-left: 20px;
}


/* Below is the countdown timer */
#countdown {
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 15px;
  padding: 8px;
  z-index: 1;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid; 
  border-radius: 5px;
  outline-style: groove;
  outline-color: lightgray;
}


/* Below is the quiz section */
#quizSection {
  background-color:aquamarine;
  height: 737px;
  width: 100%;
  justify-content: center;
}
#quiz {
  width: 75%;
}

/* Below are the quiz questions */
#questions {
  position: relative;
  padding-top: 100px;
  font-family:'Times New Roman', 'Times', 'serif';
  font-size: 35px;
  text-align: center;
  color: blueviolet;
}

/* Below are the answer buttons */
#answerBtns {
  justify-content: center;
  margin-left: 170px;
}
@media screen and (max-width: 700px) {
  #answerBtns {
    margin-left: 40px;
  }
}
#answerA,
#answerB,
#answerC,
#answerD{
  text-align: center;
  margin-top: 10px;
  padding:5px;
  font-size: 15px;
}


/* Below is the player's initials submission screen */
#scoreSubmission {
  justify-content: center;
  height: 737px;
  width: 100%;
  background-color: aliceblue;
}
/* Below is Final Time! text */
#playerTime{
  text-align: center;
  clear: right;
  font-size: 40px;
  color: red;
  text-shadow: 2px 2px 5px lightgrey;
}

/* Below is the submit score form and button */
#submitScoreBtn {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 300px;
  height: 100px;
  left: 40%;
  top: 30%;
  p {
    top: 0;
    text-align: center;
    font-size: 30px;
  }
  #highScoreInitials {
    position: absolute;
    height: 17px;
    width: 160px;
    bottom: 0;
  }
  button {
    position: absolute;
    height: 22px;
    width: 65px;
    right: 0;
    bottom: 0;
    margin-left:5px;
  }
}
@media screen and (max-width: 800px) {
  #submitScoreBtn {
    margin-right: 40px;
    left: 30%
  }
}
@media screen and (max-width: 600px) {
  #submitScoreBtn {
    margin-right: 40px;
    left: 10%
  }
}



/* Below is the restart quiz button */
#restartBtn{
  position: absolute;
  margin-top: 20px;
  right: 44%;
  bottom: 40%;
  font-size: 25px;
  }
  #restartBtn:hover {
    outline-style: groove;
    outline-color:red;
  }
@media screen and (max-width: 740px) {
  #restartBtn {
    right: 32%;
  
  }
}



/* Below is the high score section */
#highScoreSection {
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
  font-size: 25px;
}
#scoresList {
  margin: 7px;
}



/* Below is the display for if the timer runs out */
#deadText {
  margin: 0;
  padding-top: 310px;
  font-size: 100px;
  font-family: 'Cormorant Garamond';
  color: red;
  text-align: center;
  -webkit-animation: fadein 2s;
    animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#playAgain {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

#dead{
  height: 100vh;
  width: 100vw;
  top: 0;
  width: 100%; 
  background-size: cover;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: black;
}
