/* Below are the page defaults and startscreen */
/* * {
  background-color: aliceblue;
} */
body {
  /*font-family: sans-serif;*/
  margin: 0;
  padding: 0;
  height: auto;
  
  width: auto;
}

.menu {
  width: 100%;
  height: 100%;
  background-color: gray;
}

header {
  background-color:lightgray;
  text-align: center;
  text-shadow: 3px 3px black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 90px;
  color: red;
  border: solid;
  border-color: darkgrey;
  border-width: 3px;
}


/* Below are properties that are reused */
.hide {
  display: none;
}

.flex {
  display: flex;
}

/* Below are the start button, restart button, and high score button */
#startBtn {
   position: absolute;
   font-size: 25px;
    top: 30%;
    left: 50%;
    margin-top: 100px;
    margin-left: -80px;
  }
  #startBtn:hover{
    background-color:red;
    color: darkgray;
  }
  @media screen and (max-width: 707px) {
  #startBtn {
    margin-top: 260px;
  }
}

#restartBtn{
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 2;
}
#highScoresBtn {
  left: 0;
  top: 0;
  margin-top: 10px;
  margin-left: 20px;
  position: absolute;
  /*display: block;*/
  z-index: 1;
}



/* Below is the countdown timer */
#countdown {
  border: 2px solid; 
  border-radius: 5px;
  font-size: 20px;
  outline-style: groove;
  outline-color: lightgray;
  font-weight: bold;
  right: 0;
  margin-right: 10px;
  margin-top: 15px;
  position: absolute;
  padding: 8px;
  /*display: block;*/
  z-index: 1;
}



#quizSection {
  background-color:aquamarine;
  height: 737px;
  width: 100%;
  justify-content: center;
}

#quiz {
  width: 75%;
}
#questions {
  font-family:'Times New Roman', 'Times', 'serif';
  font-size: 35px;
  text-align: center;
  padding-top: 100px;
  color: blueviolet;
  position: relative;
  /* justify-content: center; */
  /* padding-top: 50px; */
}

#answerBtns {
  justify-content: center;
  margin-left: 170px;
}
@media screen and (max-width: 700px) {
  #answerBtns {
    margin-left: 40px;
  }
}

#answerA,
#answerB,
#answerC,
#answerD{
  text-align: center;
  padding:5px;
  margin-top: 10px;
  font-size: 15px;
  
}

#submitScoreBtn {
  left: 40%;
  top: 30%;
  width: 300px;
  height: 100px;
  justify-content: center;
  display: flex;
  position: absolute;
  p {
    text-align: center;
    font-size: 30px;
    top: 0;
  }
  #highScoreInitials {
    bottom: 0;
    height: 17px;
    width: 160px;
    position: absolute;

  }
  button {
    height: 22px;
    width: 65px;
    right: 0;
    bottom: 0;
    margin-left:5px;
    position: absolute;
  }
}
@media screen and (max-width: 800px) {
  #submitScoreBtn {
    margin-right: 40px;
    left: 30%
  }
}
@media screen and (max-width: 600px) {
  #submitScoreBtn {
    margin-right: 40px;
    left: 10%
  }
}



#scoreSubmission {
  justify-content: center;
  /* margin-left: 130px; */
  background-color: aliceblue;
  height: 737px;
  width: 100%;
}
/* Below is Final Time! text */
#playerTime{
text-align: center;
color: red;
font-size: 40px;
clear: right;
text-shadow: 2px 2px 5px lightgrey;
}

#highScoreSection {
  /* justify-content: center; */
  margin-top: 50px;
  margin-left: 50px;
  font-size: 25px;
  
}

#scoresList {
  margin: 7px;
}

/* Below is the display for if the timer runs out */
#dead{
  background-color: black;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  text-align: center;
  padding: 0;
  margin: 0;
  top: 0;
}
#deadText{
  margin: 0;
  padding-top: 310px;
  color: red;
  font-family: 'Cormorant Garamond';
  font-size: 100px;
}